initialize() {
  source("eidos/demes.eidos");
  source("eidos/utilities.eidos");

  // defineConstant("BURNIN", 10.0);
  defineConstant("SCALING_FACTOR", 10.0);
  defineConstant("MUTATION_RATE", 0);
  defineConstant("RECOMBINATION_RATE", 0);
  defineConstant("CONTIG_LENGTH", 100);
  defineConstant("TREES_FILE", "slim_out.trees");

  initializeTreeSeq();
  initializeMutationRate(SCALING_FACTOR * MUTATION_RATE);
  initializeMutationType("m1", 0.5, "f", 0.0);
  initializeGenomicElementType("g1", m1, 1.0);
  initializeGenomicElement(g1, 0, CONTIG_LENGTH - 1);
  initializeRecombinationRate((1 - (1 - 2 * RECOMBINATION_RATE)^SCALING_FACTOR) / 2);

}

1 early() {
    model = load_demes();

    end_gen = get_model_end_time(model);
    community.rescheduleScriptBlock(s2, end_gen, end_gen);
}

1: late() {
    print_progress_bar(SIM_END_TIME, 10, community.tick);
}
s2 late() {
    sim.treeSeqOutput(TREES_FILE);
}
